* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}

nav {
    display: flex;
    justify-content: space-around;
    align-items: center;
    min-height: 10vh;
    background: rgb(0, 170, 255);
}

.icon {
    height: 7.5vh;
}

.logo {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    color: white;
}

.searchBar {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 7.5vh;
    width: 50vw;
}

.search-input {
    height: 6vh;
    width: 45vw;
    border-radius: 10px;
}

.search-button {
    height: 6vh;
    width: 6vh;
    background-color: rgb(236, 236, 236);
    border-radius: 10px;
    transform: translate(-100%);
}

img.search-icon {
    height: 4vh;
    width: 4vh;
}

ul {
    display: flex;
    gap: 10px;
}

li {
    list-style: none;
    justify-content: center;
    align-items: center;
}

.profile-container {
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
}

.main-content {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 45px;
}

.create-post-container {
    display: flex;
    border: 2px solid gray;
    padding: 10px;
    border-radius: 10px;
    justify-content: space-between;
    width: 850px;
    height: 75px;
}

.create-post {
    height: 50px;
    width: 30vw;
}

.create-image-button {
    width: 50px;
    height: 50px;

}

button.create-image-button {
    border-style: none;
    background-color: white;
}
